<body>
{% extends "base.html" %}
{% block content %}
<div style="text-align: center;">
    <h1>Selecciona una categoria</h1>
</div>
<table style="text-align: center; margin: 0 auto;width:100%" border="0">
    {% for categoria in categorias %}
    <tr>
        {% if dicc[categoria.descripcion]== "Pendiente"%}
        <td><a href="/trivia/{{categoria.id}}/pregunta">
            <h2  style="color:blue;"><img src="/static/dedoSeñala2.png">{{categoria.descripcion}}</h2></a>
        </td>
        {% else %}
        <td>
            <h2  style="color:green;"><img src="/static/dedoArriba.png">{{categoria.descripcion}}</h2>
        </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
<hr>
<br>
<div>Tiempo de juego : {{ tiempo }}</div>
{% endblock %}
</body>
