<body background="/static/trivia.png">
{% extends "base.html" %}
{% block content %}
<center><img src="/static/logo2.jpg"></center>
<br>
{% if fin %}
<h1 style="text-align: center; color:blue;"> ¡Ganaste {{current_user.name}}!<img src="/static/medalla.png"></h1>
<hr>
<div style="text-align: center; color:blue;"><h2>Tiempo de juego : {{ tiempo }}</h2></div>
<a href="/trivia/categorias/{{0}}" style="color:blue; text-align:center;"><h1>Jugar de nuevo</h1></a>
{% else %}
<h3><p style="text-align: center">
    Para completar la trivia necesitas seleccionar
    la respuesta correcta para cada categoria </p>
    <p style="text-align: center">
        Luego de seleccionar una respuesta regresas a las categorias
        para seguir contestando hasta completarlas.</p>
    <p style="text-align: center">
        Comienza seleccionando
        el link Jugar que desplegara las categorias de la Trivia.
    </p>
    <a href="/trivia/categorias/{{0}}" style="color:blue; text-align:center;"><h1>Jugar</h1></a>
</h3>
{% endif %}
<a href="/trivia/clasificacion" style="color:blue; text-align:center;"><h1>Clasificacion</h1></a>
{% endblock %}
</body>