<body>
{% extends "base.html" %}
{% block content %}
<div style="text-align: center;">
    <h1> {{categoria.descripcion}}</h1>
<h2><span style="font-weight: bold; background-color: rgb(147, 206, 222);">{{pregunta.descripcion}}</span></h2>
    {% for respuesta in respuestas %}
         <a href="/trivia/{{pregunta.id}}/resultado/{{respuesta.id}}" style="color:green">
					<h3><img src="/static/dedoSeñala2.png">{{respuesta.descripcion}}</h3>
					</a>
    {% endfor %}
<br>
<div style="text-align:center;">
    <a href="/trivia/categorias/{{1}}" style="color:black">	<h3> elegir otra categoria </h3> </a>
</div>
<br>
</div>
<br>
{% endblock %}
</body>
