<body>
{% extends "base.html" %}
{% block content %}

<br>
<div style="text-align: center;">
    <h1>Tu eleccción : </h1>
<h2><span
style="font-weight: bold; background-color: rgb(147, 206, 222);">{%if correcta==True %}
              <center><h2 style="color:blue">   Correcta!<img src="/static/dedoArriba.png"></h2></center>
            {%else%}
              <center><h2 style="color:blue"> <img src="/static/dedoAbajo.png"> Erraste!</h2></center>
            {%endif%}
    <div style="text-align:center;">
    <a href="/trivia/categorias/{{1}}" style="color:black">	<h3> <img src="/static/dedoSeñala2.png">continuar </h3> </a>
</div>
</span></h2>
</div>
<br>
{% endblock %}
</body>