<body>
{% extends "base.html" %}
{% block content %}
{% if error==404 %}
    <p><img src="/static/Pure-CSS-404-Error-Page.png"></p>
{% else %}
    {% if error==500 %}
        <p><img src="/static/HTML-CSS-500-Internal-Error-Page.gif"></p>
    {% else %}
        {% if error==401 %}
            <p><img src="/static/401-Unauthorized-t.jpg"></p>
        {% else %}
            {% if error==403 %}
                <p><img src="/static/imagenError403.png"></p>
            {% else %}
                Error inesperado : {{ error }}
            {% endif %}
        {% endif %}
    {% endif %}
{% endif %}
{% endblock %}
</body>