<body>
{% extends "base.html" %}
{% block content %}
<h2  style="text-align: center;color:black;">Ubicaciones</h2></a>
<table style="text-align: center; margin: 0 auto;width:30%" border="0">
    <tr>
        <td>
            <h2  style="color:black;">Nombre</h2></a>
        </td>

        <td>
            <h2  style="color:black;">Tiempo</h2>
        </td>
    </tr>
    {% for usuario in usuarios %}
    <tr>
        <td>
            <h2  style="color:blue;">{{usuario.name}}</h2></a>
        </td>

        <td>
            <h2  style="color:blue;">{{usuario.score}}</h2>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
</body>