<!-- <link rel="stylesheet" href="estilo.css">
-->
<div class="cabezal">
    <table style="text-align: center; margin: 0 auto;width:100%" border="0">
        <tr>
            <td style="text-align: left;"><a href="/trivia/login"> Inicio </a>
            </td>
            {% if current_user.name %}
            <td style="text-align: center;"> jugador : {{current_user.name}}
            </td>
            {% endif %}
            {% if current_user.score %}
            <td style="text-align: center;"> mejor tiempo : {{current_user.score}}
            </td>
            {% endif %}
            <td style="text-align: right;"><a href="/trivia/logout"> Salir </a>
            </td>
        </tr>
    </table>
</div>
<hr>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
{% block content %}{% endblock %}
<div class="footer"> taller Python octubre-noviembre 2020
</div>
<style>
.cabezal {
background: rgba(147,206,222,1);
background: -moz-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(115,227,255,1) 53%, rgba(224,248,255,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(147,206,222,1)), color-stop(53%, rgba(115,227,255,1)), color-stop(100%, rgba(224,248,255,1)));
background: -webkit-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(115,227,255,1) 53%, rgba(224,248,255,1) 100%);
background: -o-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(115,227,255,1) 53%, rgba(224,248,255,1) 100%);
background: -ms-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(115,227,255,1) 53%, rgba(224,248,255,1) 100%);
background: linear-gradient(to right, rgba(147,206,222,1) 0%, rgba(115,227,255,1) 53%, rgba(224,248,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#e0f8ff', GradientType=1 );
padding: 10px;
margin: 10px;
font-family:verdana;
}
.footer {
  background: linear-gradient(to right, rgba(147,206,222,1) 0%, rgba(115,227,255,1) 53%, rgba(224,248,255,1) 100%);
  position: fixed;
  left: 0;
  bottom: 0;
  font-size: 16px;
  font-family:verdana;
  width: 100%;
  height:30px;
  background-color: white;
  color: black;
  text-align: center;
}

</style>
